<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KWeb GDS File Viewer</title>
    <link rel="stylesheet" href={{ url_for("kweb_static", path="/bootstrap/bootstrap.min.css")}}></link>
    <link rel="stylesheet" href={{ url_for("kweb_static", path="/custom.css")}}></link>
    <link rel="icon" type="image/png" href="/static/img/kweb.png"></link>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container-fluid w-100 overflow-scroll" id="files-panel">
      {% for file in folder_files %}
      <div class="d-flex flex-row p-2">
        <a href="/file/{{ file }}"" class="btn btn-primary text-start">{{file}}</a>
      </div>
      {% endfor %}
    </div>
    <script type="text/javascript" src={{ url_for("kweb_static", path="/bootstrap/bootstrap.bundle.min.js") }}></script>
  </body>
</html>
