<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KWeb GDS File Viewer</title>
    <link rel="stylesheet" href={{ url_for("kweb_static", path="/bootstrap/bootstrap.min.css")}}></link>
    <link rel="stylesheet" href={{ url_for("kweb_static", path="/custom.css")}}></link>
    <link rel="icon" type="image/png" href="/static/img/kweb.png"></link>
  </head>
  <body>

    <div class="container-fluid h-100" id="viewer-panel">
      <div class="row h-100 p-2" id="layout">
        <div class="col-10 rounded shadow d-flex flex-column position-relative h-100" id="layout-view">
          <canvas class="rounded shadow canvas-container h-100 w-100" id="layout_canvas"></canvas>
          <!-- Floating buttons relative to the canvas -->
          <div class="position-absolute top-0 start-1 p-4 d-flex" id="floating-buttons">
            <div id="modes" class="me-4"></div>
            <div id="menu"></div>
          </div>
        </div>
        <div id="layers" class="col-2 rounded shadow bg-default"></div>
      </div>
    </div>

    <script>var ws_url="{{ url }}"; var layer_props="{{ layer_props }}"; var gds_file="{{ gds_file }}"</script>
    <script type="text/javascript" src="{{ url_for("kweb_static", path="client.js") }}"></script>
  </body>
</html>
